{% extends 'base.html.twig' %}

{% block title %}Product Edit{% endblock %}

{% block body %}
    <hr>
        <a href="/product/list/admin">Go Back</a>
    </hr>
    <h1>Product Edit</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}